{% extends 'base.html' %}
{% block content %}<br><br>
<div class="container">
<h3><pre style="color:white;">  Welcome to ABC Bank - Where Your Financial Dreams Take Flight!</pre></h3>
<h4><pre style="color:white;">
    At ABC Bank, we are more than just a financial institution; we are your trusted partner on
    your journey towards financial success. Whether you're saving for your first home, planning
    for your child's education, or securing a comfortable retirement, we are here to provide you
    with the tools, guidance, and personalized solutions to make your dreams a reality.</pre></h4>
</div>
{% endblock %}